.content {
    background-color: #ffffd7;
    width: 100vw;
    height: 100vh;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 6vh;
    background-color: #CD853F;
    font-size: large;
}

.fill-bottom {
    height: 6vh;
    background-color: #FFFFD7;
}

.top-shadow {
    background-color: #333333;
    height: 1vh;
}

.title {
    font-size: xx-large;
    color: #e4e4e4;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.title-b {
    font-size: x-large;
    color: #e4e4e4;
    margin-left: 2.5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.title-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #8B4513;
    width: 100vw;
    height: 35vh;
}

.title-area-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #8B4513;
    height: 20vh;
}

.normal-text {
    font-size: medium;
    font-family: serif;
    color: #3c3c3c;
    margin-left: 2.5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.normal-text-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    text-align: left;
    background-color: #ffffd7;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #DAA520;
}

.category-title {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: x-large;
}

.table-text-area {
    display: flex;
    flex-direction: raw;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    background-color: #FFFFFF;
}

.table-text {
    font-size: large;
    color: #3c3c3c;
    height: 7vh;
    width: 50vw;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border: #000000 1rpx solid;
}
